@import "../../css-config/mixins.scss";

.card-bg-container{
    width: 100%;
    height: 280px;
    margin-bottom: 0px;
    margin-top: 0px;

    @include md {
        height: 300px;
        margin-bottom: 0px;
    }

    img{
        width: 100%;
        height: 100%;
        border-radius: 10px;
       
    }
}